body {
 background-color: #015958;
}

.header {
    color: aliceblue;
    width: 35%;
    margin: 10px;
    text-align: center;
    font-size: 300%;
    display: flex;
    margin-left: 60px;
    padding-bottom: 1%;
}

.nav {
    width: fit-content;
    padding: 0px 1em 8px 1em;
    border-radius: 2%;
    text-align: center;
    font-size: 150%;
    color: aliceblue;
}

.nav:hover{
    color: #0CABA8;
}

#navbar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}


#home {
    position: relative;
    width: 100%;
    /*justify-content: space-between;*/
    height: auto;
    /*background-size: cover;
    background-position: center;*/
    display: flex;
    align-items: center;
    background-color: #023535;
    margin: auto;
    z-index: 100;
}

#home2 {
    border: 2px solid black;
    position: relative;
    width: 100%;
    /*justify-content: space-between;*/
    /*background-size: cover;
    background-position: center;*/
    display: flex;
    align-items: center;
    background-color: #023535;
    z-index: 100;
    padding-bottom: 40%;
}

.Formulario {
    position: absolute;
    width: fit-content;
    height: auto;
    margin-left: 30%;
    margin-top: 50%;
    margin-bottom: 10%;
    padding: 3% 20% 3% 3%;
}

#form h2{
    align-items: center;
    width: 140%;
    height: fit-content;
    font-size: 200%;
}


#nom-email-container{
    width: 140%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.nombre, .email {
    position: relative;
    margin-bottom: 2%;
    margin-right: 10%;
    display: flex;
}

.nombre input {
    padding-bottom: 3%;
}



.content {
    margin: 8%;
    /*padding-left: 4vw;
    padding-right: 60vw;*/
    padding: 3% 20% 3% 3%;
   
}

.content h3 {
    font-size: 250%;
    /*font-weight: 700;*/
    color: aliceblue;
}

.content h1{
    font-size: 200%;
    color: aliceblue;
    margin: -6px 0;
    
}

.content h2{
    color: aliceblue;
    margin: -6px 0;
  
}

.content p {
    color: yellow;

}

.imagen1 {
    position: absolute;
    top: 9%;
    /*padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 5%;*/
    right: 8%;
    width: 33%;
    height: 80%;
    border-radius: 70%;
    overflow: hidden;
}

.imagen1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


span {
    color: #008F8C;
    
}

span:hover{
    color: #0CABA8
}

.footer {
    width: auto;
    padding-bottom: 5%;
    color: aliceblue;
}

.logoig {
    position: absolute;
    left: 0.5%;
    width: 3%;  
    height: auto; 
}

.logoig img {
    height: 100%;
    width: 100%;
}
